@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

@font-face {
    font-family: 'proxima_novabold';
    src: url('fonts/proximanova_bold_webfont.ttf');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_regular';
    src: url('fonts/proximanova_regular_webfont.ttf');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_light';
    src: url('fonts/proximanova_light_webfont.ttf');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_novasemibold';
    src: url('fonts/proximanova-semibold.woff') format('woff'),
         url('fonts/proximanova-semibold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'proxima_nova_regular', serif;
    letter-spacing: 0.75px;
}

.bg-black {
    background-color: #363636 !important;
}

.font-weight-bold {
    font-family: 'proxima_novabold', serif !important;
}
.font-weight-semi-bold {
    font-family: 'proxima_novasemibold', serif !important;
}

.btn-primary {
    background-color: #D500F9 !important;
    color: white;
    border-radius: 40px;
}
.btn-theme-blue {
    background-color: #082c4c !important;
    color: #D500F9 !important;
}
.btn-no-border {
    border: 0;
}
.btn-custom-addon {
    position: absolute;
    top: 25px;
    font-size: 12px;
    float: right;
    right: 0;
    text-transform: capitalize;
}

.primary-color-highlight{
    color: #D500F9 !important;
}
a:hover{
    color: #D500F9 !important;
}

/**
    HEADER NAVBAR
 */
.navbar-brand img {
    height: 50px;
}

#header-menu-links .nav-link {
    text-align: left;
    font-family: 'proxima_novasemibold', serif;
    letter-spacing: 2px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    padding-left: 40px;
    font-size: 18px;
}

#header-menu-links .nav-link.active {
    color: #D500F9 !important;
}

#header-menu-links .nav-link.active span{
    border-bottom: 2px solid #ffffff;
    padding-bottom: 5px;
}

/**
    FOOTER
 */
footer {
    color: #FFFFFF;
    opacity: 0.8;
    font-family: 'proxima_nova_regular', serif;
    font-size: 14px;
    letter-spacing: 0;
}

footer .footer_container {
    padding: 20px 0;
}

footer .footer_sugarbox_initiative_container {
    float: left;
}

footer .footer_sugarbox_initiative_container img {
    height: 24px;
    opacity: 0.8;
    margin: 0 5px;
}

footer .footer_copyrights {
    float: right;
    text-align: right;
}

/**
    INDEX
 */

.index-column1-para1 {
    text-align: left;
    color: #FFFFFF;
    opacity: 1;
    font-family: 'proxima_nova_light', serif;
    font-size: 25px;
    margin-bottom: 40px;
}

.index-column1-para2 {
    text-align: justify;
    color: #FFFFFF;
    opacity: 1;
    font-family: 'proxima_nova_light', serif;
    font-size: 16px;
    margin-bottom: 40px;
    width: 100%;
}

.index-column2-para1 {
    text-align: justify;
    color: #FFFFFF;
    opacity: 1;
    font-family: 'proxima_nova_light', serif;
    font-size: 16px;
    margin-bottom: 40px;
}

.index-column2-para2 {
    text-align: justify;
    color: #FFFFFF;
    opacity: 1;
    font-family: 'proxima_nova_light', serif;
    font-size: 16px;
    padding-left: 20px;
    border-left: 4px solid #D500F9;
}

button.index-cta {
    min-width: 200px;
    min-height: 45px;
}

button.index-cta:hover {
    background: #ffffff !important;
}

button.index-cta:hover span.index-cta{
    color: #ed2097 !important;
}

span.index-cta {
    text-align: center;
    color: #FFFFFF;
    opacity: 1;
    font-family: 'proxima_novasemibold', serif;
    font-size: 18px;
    padding: 15px 10px;
    border: 0;
    letter-spacing: 1.5px;
}

span.index-cta:hover {
    color: #D500F9 !important;
}

#index_globe_illustration {
    bottom: 0;
}